*{
    margin: 0;
    padding: 0;
    font-family: discord;
    user-select: none;
    text-decoration: none;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #23272a;
}

@font-face {
    font-family: discord;
    src: url(./Uni\ Sans\ Heavy.otf);
}

h1{
    font-size: 40vw;
    color: #7289da;
    position: relative;
    align-items: center;
    text-align: center;
}