*{
    margin: 0;
    padding: 0;
    font-family: discord;
    user-select: none;
    text-decoration: none;
    background-color: #23272a;
}

html,body{
  background-color: #23272a;
  height: 100%;
}

.fill_page{
  height: 300%;
  background-color: #23272a;
}

@font-face {
    font-family: discord;
    src: url(./Uni\ Sans\ Heavy.otf);
}

img#pfp{
    border-radius: 50%;
    position: absolute;
    height: 300px;
    width: 300px;

    right: 41%;
    top: 3%;
}

.button {
    border-radius: 10px;
    opacity: 0.5;
}

a#b1:hover {
    text-decoration: none;
    border-radius: 10px;
    opacity: 1;
}

a#b2:hover {
    text-decoration: none;
    border-radius: 10px;
    opacity: 1;
}

a#b2{
    z-index: 11;
    right: 42%;
    top: 80%;
    position: absolute;
    font-size: 70px;
    color: #7289da;
}

a#b1{
    z-index: 11;
    right: 44%;
    top: 60%;
    position: absolute;
    font-size: 70px;
    color: #7289da;
}

a{
  text-decoration: none;
}

.move-right-disCat{
  animation-name: move-right-disCat;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes move-right-disCat{
  from {left: 0%;}
  to   {left: 2.5%;}
}

.desc{
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 50%;
    top: 110%;
}

.desc h1{
  border-radius: 10px;
  font-family: sans-serif;
  background-color: #2c2f33;
  color: white;
  font-size: 30px;
}


/* .desc div img{
  z-index: 1;

  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0;

  width: 250px;
  height: 250px;

  left: 10px;

  position: absolute;
} */

.content .desc h1 strong{
    position: relative;
    text-align: center;
    align-items: center;
    font-family: discord;
    font-size: 60px;
    color: #7289da;
    background-color: transparent;
}

@media only screen and (max-width: 800px){

  img#pfp{
    right: 20%;
  }

   a#b2{
    right: 22%;
    top: 85%;
  }

  a#b1{
    right: 28%;
    top: 65%;
  }
}

