*{
    margin: 0;
    padding: 0;
    font-family: discord;
    user-select: none;
    text-decoration: none;
    background-color: #23272a;
}

html,body{
  background-color: #23272a;
  height: 100%;
}

.fill_page{
  height: 100%;
  background-color: #23272a;
}

@font-face {
    font-family: discord;
    src: url(./Uni\ Sans\ Heavy.otf);
}

.btns{
  position: absolute;
  top: 50%;

  height: 100%;
  right: 2.5%;
  width: 95%;
  background-color: transparent;
}

.btns a{
  text-decoration: none;
  background-color: transparent;
  color: #7289da;
  font-size: 100px;

  text-align: center;
  align-items: center;
}

.btns a:hover{
  text-decoration: none;
  color: #5573dd;
}

.btns a#invite{
  top: 25%;
  width: 100%;
  position: absolute;
}

.btns a#server{
  top: 0%;
  width: 100%;
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141618;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289da;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8da5fc;
}

img#pfp{
    border-radius: 50%;
    position: absolute;
    height: 300px;
    width: 300px;

    right: 39%;
    top: 3%;
}

.move-right-disCat{
  animation-name: move-right-disCat;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes move-right-disCat{
  from {left: 0%;}
  to   {left: 2.5%;}
}

.desc{
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 100%;
    top: 110%;
}

.desc h1{
  border-radius: 10px;
  font-family: sans-serif;
  background-color: #2c2f33;
  color: white;
  font-size: 30px;
}


/* .desc div img{
  z-index: 1;

  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0;

  width: 250px;
  height: 250px;

  left: 10px;

  position: absolute;
} */

.content .desc h1 strong{
    position: relative;
    text-align: center;
    align-items: center;
    font-family: discord;
    font-size: 60px;
    color: #7289da;
    background-color: transparent;
}

@keyframes move-right-checkmark{
  0%   {width: 15%;}
  100%   {width: 25%;}
}

div#menu_checkmark:hover{
  animation-name: move-right-checkmark;
  animation-duration: 2s;
  animation-iteration-count: 1;

  width: 25%;
  background-color: rgb(240, 38, 38);
}

div#menu_checkmark{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100px;
  width: 15%;
  background-color: rgb(219, 69, 69);
  border-radius: 0px 10px 10px 0px;
}

@keyframes move-right-and-show-menu{
  0%    {width: 0%;}
  100%  {width: 90%;}
}

.move-right-and-show-menu{
  animation-name: move-right-and-show-menu;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes move-left-and-hide-menu{
  0%    {width: 90%;}
  100%  {width: 0%;}
}

.move-left-and-hide-menu{
  animation-name: move-left-and-hide-menu;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes invis{
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}

.invis{
  animation-name: invis;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes vis{
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

.vis{
  animation-name: vis;
  animation-duration: 1.999s;
  animation-iteration-count: 1;
}

div.menu{
  width: 90%;
  height: 280%;
  position: absolute;
  background-color: #2c2f33;
  top: 0px;
  left: 0px;

  z-index: 1111;

  visibility: hidden;
}

div.menu img#menu_bg{
  position: absolute;
  width: 95%;
  height: 33%;
  top: 3%;
  left: 2.5%;
  background-size: cover;
  background-color: transparent;
  border-radius: 10px;
  object-fit: cover;
}

div.menu div.options{
  position: absolute;
  top: 40%;
  background-color: #2c2f33;
  width: 95%;
  opacity: 1;
}

div.menu div.options h1{
  margin: 20px;
  background-color: #23272a;
  font-size: 100px;
  border-radius: 10px;
  color: white;
  left: 2.5%;
}

div.menu div.options h1#home{
  color: rgb(219, 69, 69);
}

.commands_page{
  visibility: hidden;
  height: 0px;
}

.home_page{
  visibility: visible;
}

/* .commands h1{
  color: white;
  align-items: center;
  text-align: center;
  font-size: 90px;
}

.commands div h1{
  background-color: #2c2f33;
  color: #7289da;
  font-size: 70px;
  width: 100%;
  border-radius: 10px;
} */

.commands div h1{
  background-color: #2c2f33;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #7289da;
}

.commands div h2{
  background-color: #7289da;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  color: #afbbe6;
  font-size: 50px;
  width: min-content;
}

.commands{
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 800px){

  img#pfp{
    right: 20%;
  }

  div.menu{
    height: 345%;
  }

  div.menu div.options h1{
    font-size: 70px;
  }

  .commands h1{
    font-size: 60px;
  }

  .commands div h1{
    font-size: 50px;
  }
}

@media only screen and (max-width: 482px){
  div.menu div.options h1{
    font-size: 50px;
  }
}

@media only screen and (max-width: 344px){
  div.menu div.options h1{
    font-size: 40px;
  }
}